
body{
    font-family: 'Urbanist', sans-serif;
}

:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color:#29a9fd;
    --bs-supporting-color:#C850C0;

}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color:var(--bs-dark-color);
}

/* hero section */

.hero-main{
    padding-bottom: 90px;
}
.hero-video{
    width: 60%;
    border-radius: 2rem;
    margin-left: 230px;
}

.hero-section{
    position: relative;
    padding-top: 5%;
    background-color: var(--bs-dark-color);
}

.hero-section p{
    margin-bottom: 50px;
    color: var(--bs-primary-color);
}

.hero-section h1{
    color: var(--bs-main-color);
}


/* navbar section */
.navbar-brand{
    color: var(--bs-main-color);
}

.bg-color{
    background-color: var(--bs-dark-color);
}

.nav-link{
    color: var(--bs-main-color);
}

/* Divider */
.custom-shape-divider-bottom-1703601477 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703601477 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1703601477 .shape-fill {
    fill: #FFFFFF;
}


/* Services Section */

hr{
    text-align: center;
    width: 300px;
    margin: auto;
}

#services-section{
    margin-top: 50px;
}